/FCS_error/temp
/Lecture_Notes
/Course_work/Ex_1_Ethernet_FCS/temp
Course_work/Ex_1_Ethernet_FCS/Simulation/fcs_serial_sim_vhdl.vhd
Course_work/Ex_1_Ethernet_FCS/VHDL_Code/FCS_Check/answer.vhd
Course_work/Ex_1_Ethernet_FCS/.vscode/tasks.json
